@font-face {
  font-family: "The-Absolute";
  src: url("./TheAbsolute.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Momcake";
  src: url("./MomcakeThin-lgKVw.otf");
  font-weight: Thin;
  font-style: normal;
}
@font-face {
  font-family: "Momcake";
  src: url("./MomcakeBold-9YXG2.otf");
  font-weight: Bold;
  font-style: normal;
}
:root {
  --swiper-navigation-color: rgb(0, 0, 0) !important;
  --swiper-theme-color: white !important;
  --swiper-navigation-size: 20vw;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.desktop {
  display: none;
}

section,
body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.scroller {
  min-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller section {
  scroll-snap-align: start;
}

#ourwork {
  min-height: 60vh;
  margin: 0;
  padding: 0;
}

#intro {
  overflow-y: hidden;
}

#intro,
#whoweare {
  background-color: #00d8db;
}

#feedback {
  background-color: #30adff;
}

.logo {
  width: 20vw;
  margin-top: 0;
}

.btnn {
  width: 50vw;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 3vw;
  color: white;
  border: 1px solid white;
  border-radius: 2em;
  height: 8vw;
  float: right;
  box-shadow: black;
  background-color: #222c49;
  box-shadow: 2px 5px 15px #575757;
}

.rswish {
  width: 100%;
  top: 0;
  left: 0rem;
  right: 0;
}

.owners {
  position: absolute;
  top: 90vw;
  bottom: 0;
  margin: 0;
  padding: 0;
  left: 20vw;
  width: 93%;
}

.mtmb {
  right: 0;
  position: relative;
  width: 100%;
  margin-top: 55vw;
}

.swiper-button-prev,
.swiper-button-next {
  margin: 5vw;
  margin-top: 2vw;
  scale: 0.5;
}

.intro {
  font-family: The-Absolute;
  font-size: 10vw;
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0;
  padding-top: 5vw;
}

.subintro {
  color: #222c49;
  text-align: center;
  font-family: Montserrat;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.4px;
}

.whoweare {
  color: white;
  font-family: The-Absolute;
  font-size: 12vw;
  text-align: center;
  margin: 10vw;
}

.abtus {
  color: #3d4867;
  text-align: center;
  font-family: Montserrat;
  font-size: 3.8vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.mission {
  color: var(--text-2, #222c49);
  text-align: center;
  font-family: Montserrat;
  font-size: 3.5vw;
  font-weight: 600;
}

.tickcircle {
  padding-top: 15vw;
  width: 10vw;
  text-align: center;
}

.prd {
  color: white;
  text-align: center;
  font-family: Montserrat;
  font-size: 3vw;
  font-style: normal;
  font-weight: bold;
  padding-top: 14px;
}

.smallcloud {
  position: relative;
  padding: 0;
  left: 2.5vw;
  width: 100vw;
  bottom: 12vw;
}

#services {
  background: #ac9fff;
}

.services {
  margin-top: 3rem;
  color: var(--white-color, #fff);
  text-align: center;
  font-family: The-Absolute;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  /* 37.8px */
}

.cd {
  padding-top: 7.2rem;
  padding-left: 1.25rem;
  color: var(--text-all, #3d4867);
  font-family: Montserrat;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.allicons {
  width: 60vw;
}

.swiper-slide p {
  color: var(--white-color, #fff);
  font-family: Montserrat;
  font-size: 4vw;
  font-style: normal;
  text-justify: distribute-all-lines;
  font-weight: 400;
  line-height: 140%; /* 15.4px */
}

.ourwork {
  margin-top: 3rem;
  color: #3d4867;
  text-align: center;
  font-family: The-Absolute;
  font-size: 13vw;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
}

.holder {
  width: 257.113px;
  height: 258px;
  background-color: rgb(184, 83, 169);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  color: var(--white-color, #fff);
  font-family: Montserrat;
  font-size: 0.9rem;
  font-style: normal;
}

.btn2 {
  width: 18em;
  height: 3.5em;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 0.8em;
  color: #3d4867;
  border: 1px solid white;
  border-radius: 2em;
  background-color: #0bffd0;
}

.message {
  color: var(--title-color, #f1f2f3);
  font-family: Montserrat;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

textarea {
  width: 70%;
  height: 30vw;
  padding: 10px 15px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  background-color: #f8f8f8;
  font-size: 3vw;
  font-family: Montserrat;
  color: #3d4867;
  outline: none;
  resize: none;
  align-self: center;
}

.submit {
  width: 27vw;
  height: 3.5em;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 3vw;
  color: #222c49;
  background-color: #0bffd0;
  border: 2px solid white;
  border-radius: 2em;
  margin-top: 2vw;
}

.footer {
  background-color: #222c49;
  height: 8rem;
  border-top-right-radius: 50px;
  border-top-left-radius: 90px;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.crd {
  color: var(--white-color, #fff);
  font-family: Montserrat;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 14px */
}

.swiper-container {
  width: 80vw; /* Set the desired width for the square container */
  height: 80vw; /* Set the same height as the width for a square container */
  margin: 0 auto;
}

.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide {
  text-align: center;
  font-size: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide .desktop {
  display: none;
}

/*
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  //ipad
  .desktop {
    display: none;
  }
  body {
    background-color: #00d8db;
    margin: 0;
    padding: 0;
  }

  .rswish {
    right: 0;
  }

  .logo {
    width: 12vw;
  }
  .owners {
    width: 80%;
    top: 70vw;
    left: 30vw;
  }

  .whoweare {
    font-size: 9vw;
    padding: 0;
    margin: 5vw;
  }

  .btnn {
    width: 30vw;

    font-size: 2vw;

    height: 7vw;
    margin-right: 4vw;
  }

  .abtus {
    font-size: 3vw;
  }

  .mission {
    font-size: 3vw;
  }
  .allicons {
    width: 70%;
  }

  .services {
    font-size: 10vw;
    margin-bottom: 9vw;
  }
  .ls,
  .rs {
    padding-top: 20vw;
    width: 9vw;
    margin: 1em;
  }
  #ourwork {
    background-color: white;
  }
}*/
.pop-up2 {
  place-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  scale: 1.5;
  position: absolute;
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  border-radius: 2vw;
  background: rgb(255, 255, 255);
  text-align: center;
  color: #222c49;
  top: 50%;
  left: 50%;
  transform: translate(-28%);
  font-family: Montserrat;
  z-index: 5;
  visibility: hidden;
}
.pop-up2 p {
  font-size: 2vw;
  font-weight: 500;
}
.pop-up2 h1 {
  font-weight: 600;
}

.pop-up1 {
  visibility: visible;
}

.close1 {
  position: absolute;
  right: 4vw;
  top: 3vw;
  width: 3vw;
  height: 3vw;
  opacity: 0.6;
  scale: 0.7;
}

.close1:before,
.close1:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 5.3vw;
  width: 0.4vw;
  background-color: #898989;
}

.close1:before {
  transform: rotate(45deg);
}

.close1:after {
  transform: rotate(-45deg);
}

.bg1 {
  top: 0;
  bottom: 0;
  visibility: hidden;
  width: 100vw;
  position: absolute;
  z-index: 5;
  background-color: rgba(34, 44, 73, 0.5);
}

.openbg1 {
  visibility: visible;
}

.pop-up {
  place-items: center;
  width: 25vw;
  height: -moz-fit-content;
  height: fit-content;
  scale: 1.5;
  position: absolute;
  border-radius: 2vw;
  background: rgb(255, 255, 255);
  text-align: center;
  color: #222c49;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-family: Montserrat;
  z-index: 5;
  visibility: hidden;
}
.pop-up p {
  font-size: 0.9vw;
  font-weight: 500;
}
.pop-up h1 {
  font-weight: 600;
}

.pop-up1 {
  visibility: visible;
}

.close {
  position: absolute;
  right: 1vw;
  top: 0.5vw;
  width: 2vw;
  height: 2vw;
  opacity: 0.6;
  scale: 0.7;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 2.3vw;
  width: 0.2vw;
  background-color: #898989;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.bg {
  top: 0;
  bottom: 0;
  visibility: hidden;
  width: 100vw;
  position: absolute;
  z-index: 5;
  background-color: rgba(34, 44, 73, 0.5);
}

.openbg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  textarea {
    width: 80%;
    height: 10em;
    padding: 10px 15px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    background-color: #f8f8f8;
    font-size: 1rem;
    font-family: Montserrat;
    color: #3d4867;
    resize: none;
    outline: none;
    align-self: center;
  }
  body {
    overflow-x: hidden;
    scrollbar-color: #4d7fff #ddd;
    background-color: #09ffff;
  }
  section {
    overflow: hidden;
  }
  .mobilediv {
    display: none;
  }
  .desktop {
    display: block;
    height: 100vh;
  }
  .dktp {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  #dsktpintro {
    position: relative;
    background-color: #09ffff;
    height: -moz-fit-content;
    height: fit-content;
  }
  #whowearedktp {
    position: relative;
    background-color: #ac9fff;
    z-index: 5;
    height: -moz-fit-content;
    height: fit-content;
  }
  #ourworkdktp {
    background-color: #ffffff;
    z-index: 5;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  #feedbakdktp {
    background-color: #30adff;
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
  }
  .dktpclouds {
    width: 100%;
    position: relative;
    z-index: 5;
  }
  .dktpowners {
    z-index: 1;
    width: 44%;
    top: 13vw;
    right: 6vw;
  }
  .logodktp {
    width: 6vw;
  }
  .right {
    position: absolute;
    right: 2vw;
  }
  h2 {
    padding: 1vw;
    color: var(--text-all, #3d4867);
    font-family: Montserrat;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 17px */
    letter-spacing: -0.68px;
  }
  h2:hover {
    text-decoration: underline;
  }
  .btndktp {
    width: 15vw;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1vw;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 2em;
    height: 2.2vw;
    float: right;
    box-shadow: black;
    background-color: #222c49;
    box-shadow: 2px 5px 15px #575757;
    position: relative;
    bottom: 0.5vw;
  }
  .btndktp:hover {
    color: #222c49;
    background-color: #0bffd0;
  }
  .btndktp1 {
    width: 12vw;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1vw;
    color: #222c49;
    background-color: #0bffd0;
    border: 2px solid white;
    border-radius: 2em;
    height: 3vw;
    margin-top: 2vw;
  }
  .btndktp1:hover {
    color: #0bffd0;
    transition: ease-in;
    background-color: #222c49;
  }
  .introdktp {
    color: var(--text-all, #3d4867);
    font-family: The-Absolute;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 118.5%;
    display: flex;
    width: 30vw;
    height: 30vw;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 11vw;
    position: relative;
  }
  .whowearedktp {
    color: var(--text-all, #ffffff);
    font-family: The-Absolute;
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 118.5%;
    display: flex;
    width: 30vw;
    height: 30vw;
    margin-top: 40vw;
    flex-shrink: 0;
    z-index: 6;
    margin-left: 6vw;
  }
  .abtusdktp {
    width: 60vw;
    height: 317.397px;
    flex-shrink: 0;
    color: var(--text-all, #3d4867);
    font-family: Montserrat;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    z-index: 6;
    margin-top: 50vw;
    margin-left: 45vw;
  }
  .abtusdktp1 {
    width: 60vw;
    height: 317.397px;
    flex-shrink: 0;
    color: var(--text-all, #3d4867);
    font-family: Montserrat;
    font-size: 1vw;
    margin-top: 38vw;
    margin-left: 45vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    z-index: 6;
  }
  .abtusdktp2 {
    width: 863px;
    height: 317.397px;
    flex-shrink: 0;
    color: var(--text-all, #3d4867);
    font-family: Montserrat;
    font-size: 1vw;
    margin-top: 44vw;
    margin-left: 45vw;
    font-style: italic;
    font-weight: 700;
    z-index: 6;
  }
  .abtusdktp3 {
    color: var(--white-color, #fff);
    font-family: Montserrat;
    font-size: 1vw;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 32.2px */
    position: absolute;
    z-index: 6;
    margin-top: 55.4vw;
    margin-left: 44vw;
  }
  .tickcircle1 {
    position: absolute;
    z-index: 6;
  }
  .alliconsdktp {
    position: absolute;
    margin-top: 10vw;
    width: 60vw;
    margin-left: 5vw;
    margin-right: 0;
  }
  .ourservicesdktp {
    color: var(--text-all, #ffffff);
    font-family: The-Absolute;
    font-size: 6vw;
    font-style: normal;
    font-weight: 400;
    line-height: 118.5%;
    display: flex;
    width: 30vw;
    text-align: center;
    height: 30vw;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: 0;
    margin-top: 7vw;
    margin-left: 0;
  }
  .mtndktp {
    width: 100vw;
  }
  .orwrkdktp {
    color: var(--text, #585858);
    font-family: The-Absolute;
    font-size: 92px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 128.8px */
    width: 460px;
    padding-top: 1vw;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
  }
  .ourinsta {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 26.6px */
  }
  div .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    max-width: 28%;
    max-height: 28%;
    margin: 2vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .swiper-button-prev,
  .swiper-button-next {
    margin: 10vw;
  }
  .fdbkdktp {
    color: var(--white-color, #fff);
    font-family: The-Absolute;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 98px */
    margin-left: 20vw;
  }
  .thrstrsdktp {
    width: 12vw;
    margin-left: 26vw;
  }
  .qtdktp {
    width: 6vw;
    margin-left: 2vw;
  }
  .qtdktp1 {
    width: vw;
  }
  .fdbkdktp1 {
    color: var(--white-color, #fff);
    font-family: Montserrat;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 26.6px */
    text-align: left;
    margin-left: 5vw;
  }
  .line {
    width: 5vw;
    height: 15vw;
  }
  .fdbkdktprow {
    margin-left: 4vw;
  }
  .blurow {
    position: relative;
    width: 90vw;
    height: 10vw;
    bottom: 0;
    margin-top: 3vw;
    background-color: #0096db;
    border-top-right-radius: 10vw;
    border-top-left-radius: 10vw;
  }
  .finsus {
    color: var(--white-color, #fff);
    font-family: The-Absolute;
    font-size: 4vw;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 26.6px */
    text-align: left;
    padding-left: 7vw;
  }
  .socials1 {
    width: 3vw;
    margin: 1vw;
    position: relative;
    top: 0.4vw;
  }
  footer {
    position: relative;
    top: 0vw;
    background-color: #222c49;
    height: 60vh;
    color: var(--text-color, #babec4);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    line-height: 140%; /* 19.6px */
  }
  a {
    text-decoration: none;
    color: white;
  }
  .hsend {
    color: var(--title-color, #f1f2f3);
    font-family: Montserrat;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    margin-left: 1vw;
  }
}/*# sourceMappingURL=main.css.map */